<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Welcome, <%= user.displayName %></h1>
  <img src="<%= user.photos[0].value %>"/>
  <ul>
    <li><%= user.id %></li>
    <li><%= user.provider %></li>
    <li>Email: <%= user.emails[0].value %></li>
  </ul>
  <textarea cols="50" rows="10"><%= msg %></textarea>
<br>
  <a href="/logout">Logout</a>
</body>
</html>
